<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AverageWorkCount" value="10" />
    <add key="MinWorkLength" value="2" />
    <add key="MaxWorkLength" value="10" />
    <add key="TestCount" value="100" />
    <add key="P" value="1" />
    <add key="Path" value="C:\Users\Chocolove\source\repos\Graduation\Tests\" />
  </appSettings>
</configuration>